/* Configurações de Texto */
h1{
    font-size: 32px;
    font-weight: bold;
}

h2{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Configurações Navbar */
nav{
    background-color: #05a79a;
}

nav li{
    font-weight: bold;
}

.brand-logo img{
    margin-left: 30px;
    margin-top: 8px;
    width: 60px;
}


/* Configurações Imagem Principal */
.parallax-container{
    height: 400px;
}


/* Configurações Avisos e Eventos */
#techovation #textoaviso{
    border-left: 8px solid #ec0089;
}

#obi #textoaviso,
#techovation #textoevento{
    border-left: 8px solid #5ac2e7;
}

.aviso{
    margin-bottom: 0px;
}

.aviso p{
    margin-bottom: 10px;
}

.evento .tituloevento{
    font-weight: bold;
    line-height: 0.5;
}

.evento p{
    margin-bottom: 10px;
}

.collapsible-header span{
    margin-left: 20px;
}


/* Configurações Tabs */
.tabs .tab a {
    color: #000 !important;
    font-weight: bold;
    font-size: 12px;
}

.tabs .indicator {
    background-color: #041e42;
}

.tabs .tab a.active{
    background-color: #c8fa84 !important;
}

/* Configurações de Footer */
.page-footer{
    background-color: #05a79a;
}

.page-footer p{
    padding: 0px 0px;
    margin-bottom: 20px;
}

.page-footer ul{
    list-style: none;
    display: flex;
    padding: 0px;
}

.page-footer li{
    margin-right: 10px;
    font-size: 25px;
}