/*@-moz-document url-prefix() {*/
/*    .container {*/
/*        width: 90%;*/
/*    }*/
/**/
/*    p{*/
/*         font-size: 14px;*/
/*    }*/
/*}*/

.container {
  width: 90%;
}

p {
  font-size: 15px;
}

/* Configurações Imagem Principal */
.parallax-container {
  height: 400px;
}
.parallax-container .parallax img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Quando for mobile (largura até 600px, por exemplo) */
@media (max-width: 600px) {
  .parallax-container {
    height: 50px; /* reduz altura */
  }

  .parallax-container .parallax img {
    object-fit: cover; /* garante que não distorça */
  }
}

/* Configurações de Informações do Projeto */
.metricas {
  text-align: center;
  margin-bottom: 10px;
}

.metricas h3 {
  font-weight: 700;
  color: #05a79a;
}

/* Configurações de Subgrupos */
.row img {
  height: 150px;
  margin: auto;
  display: block;
}


/* Configurações de Notícias */
.noticias {
  background-color: #c8fa84;
}

.noticias a {
  color: black;
}

.noticias .card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.noticias .card-content {
  align-content: center;
}

.noticias .card-content p {
  color: #737373;
}

/* Configurações da Equipe */
.equipe h7 {
  color: #737373;
  margin-bottom: 10px;
  margin-left: 20px;
}

.equipe img {
  height: 70px;
  border-radius: 50%;
  object-fit: contain;
}

.equipe p {
  margin-bottom: 0px;
  margin-top: -3px;
  margin-left: 20px;
}

.equipe ul {
  list-style: none;
  display: flex;
  padding: 0px;
  margin-top: 5px;
  margin-left: 20px;
}

.equipe li {
  margin-right: 10px;
  font-size: 16px;
  height: 24px;
  width: 24px;
  background-color: #05a79a;
  border-radius: 50%;
  margin-bottom: 20px;
}

/* Configurações de Patrocinadores */
.patrocinadores {
  background-color: #c8fa84;
}

.patrocinadores .container .row {
  padding: 0px;
}

.patrocinadores img {
  height: 30px;
  margin-bottom: 30px;
  float: left;
  object-fit: contain;
}

.patrocinadores h7 {
  margin-top: 0px;
}

.patrocinadores .diamante {
  height: 21px;
  object-fit: contain;
}

.patrocinadores .ouro {
  height: 16px;
  object-fit: contain;
}

.patrocinadores .parceiro {
  height: 26px;
  object-fit: contain;
}
